
.nav-bar{
    /* border: 2px solid black; */
     
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    /* z-index: 1000;  */
    /* margin-top: 0.4rem; */
    display:flex;
    height: 4.5rem;
    align-items: center;
    justify-content: space-evenly;
   
    justify-content: space-between;
    z-index: 20;
    
    
}
.nav-ops{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    /* right: 0.625rem; */
    width: 15rem;
    border-radius: 20px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
    overflow-y: auto;
    
    /* margin-right:150px; */
    /* padding-top: 40PX; */
}


#homebtn{
    border-radius: 20px;
    /* background-color: #ff9d00fd; */
}
#homebtn2{
    border-radius: 15px;
    /* background-color: #ff9d00fd; */
}
@media (max-width:480px){
    .nav-logo img{
        width: 120px;
    }
    .nav-bar{
        /* border: 2px solid black; */
         
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        /* z-index: 1000;  */
        /* margin-top: 0.4rem; */
        display:flex;
        height: 50px;
        align-items: center;
        justify-content: space-evenly;
       
        justify-content: space-between;
        z-index: 20;
        /* background-color: #ff8800; */
        
    }
    .nav-ops{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        font-weight: 400;
        right: 0rem;
        width: 180px;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center; 
        overflow-y: auto;
        /* background-color: #ff8800; */
        
        
        /* margin-right:15px; */
        /* padding-top: 40PX; */
    }
    #homebtn{
         width:60px;  
         height: 30px; 
         font-size: 13px;
         display: flex;
         padding-left: 0px;
         padding-right: 0px;
         padding-bottom: 7px;
         justify-content: center;
         text-align: center;
         align-items: center;
         border-radius: 13px;
         /* background-color: #ff8800; */
    }

    
    
    #homebtn2{
        width: 90px;
         height: 30px; 
         font-size: 13px;
         display: flex;
         padding-left: 0px;
         padding-right: 0px;
         justify-content: center;
         text-align: center;
         align-items: center;
         border-radius: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
        /* background-color: #ff8800; */

        
        
    }
    #homebtn2 > .first-span{
        padding: 0px;
        margin-right: 2px;
    }
}
