body{
    margin: 0;
    padding: 0;
    
}
.k_k_login-page{
    /* background-color: hsl(0, 0%, 15%); */
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 25px;
}
#k_k_img-nature{
    position: relative;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 15px 0 0 15px;
}

#k_k_nature-img{
    height: 78.7vh;
    width: 37vw;
    background-size: contain;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px 0 0 15px;
}

.k_k_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 15px 0 0 15px;
}

#k_k_login{
    display: flex;
    flex-direction: column; 
    /* justify-content: center; */
    align-items: center;
    width: 45vw;
    height: 78.8vh;
    background-color: hsl(0, 0%, 10%);
    /* border: 2px solid black; */
    z-index: 99;
    border-radius: 0px 15px 15px 0px ;
}

#k_k_logo{
    width: 15vw;
    /* height: 15vh; */
    background-size: contain;
    /* margin-bottom: 50px; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    /* position: relative;
    top: -80px; */
    /* border: 20px solid black; */

}
.k_k_cred{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input{
    width: 20vw;
    font-size: 1.1em;
    background-color: hsl(0, 0%, 0%);
    color: azure;
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}
#k_k_forget{
    color: hsl(180, 3%, 85%);
    cursor: pointer;
    padding: 5px 0 10px 0;
    text-align: right;
    width: 22vw;
    font-size: 1.1em;
}
#k_k_submit{
    width: 10vw;
    background-color: hsl(184, 100%, 45%);
    color: black;
    font-weight: 600;
    cursor: pointer;
}

#k_k_submit:hover{
    background-color: hsl(184, 100%, 55%);
}

#k_k_submit:active{
    background-color: hsl(184, 70%, 60%);
    color: hsl(0, 0%, 5%);
}

#k_k_forget:hover{
    color: hsl(180, 3%, 99%);
}

#k_k_sign-up{
    color: hsl(180, 17%, 92%);
    padding: 10px;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: none;
    text-decoration-color: white;
}
#k_k_sign-up:hover{
    color: hsl(180, 3%, 99%);
}
#s_login{
    text-decoration: none;
}
@media screen and (max-width: 1000px){
    
    #k_k_nature-img{
        display: none;
    }
    #k_k_login{
        width: 70vw;
        /* font-size: 1.2em; */
        border-radius: 15px;
    }

    input{
        width: 45vw;
        font-size: 1.1em;
    }
    #k_k_forget{
        width: 45vw;
    }
    #k_k_logo{
        margin: 0;
        width: 36vw;
        height: 33vh;
    }
    #k_k_submit{
        width: 20vw;
    }
    
}
@media screen and (max-width: 600px){
    
    #k_k_nature-img{
        display: none;
    }
    #k_k_login{
        width:280px;
        height: 460px;
        border-radius: 15px;
    }
    input{
        width: 200px;
        /* border: 20px solid white; */
    }
    #k_k_forget{
        width: 100px;
        margin-left: 0px;
        /* border: 2px soli d black; */
        padding-right: 30px;
    }
    #k_k_submit{
        width: 90px;
        border: 2px solid black;
         
    }
    #k_k_email{
        width: 220px;

    }
    #s_login{
        text-decoration: none;
    }
    #k_k_password{
        width: 220px;
    }
    #k_k_forget{
        width: 60vw;
    }
    #k_k_logo{
        width: 150px;
        width: 150px;
        border-radius: 15px;
    }
    
}