PORT=5000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=picfinity
SECRETS=picfinity_super_secret_jwt_key_2026
JWT_SECRET=picfinity_super_secret_jwt_key_2026
CLIENT_URL=http://localhost:5173
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=
MAIL_PASSWORD=
